<?php

/**
 * Custom WordPress constants defined here.
 * 
 * @category PHP
 * @package  Olympus
 * @author   Achraf Chouk <achrafchouk@gmail.com>
 * @license  https://github.com/GetOlympus/Olympus/blob/master/LICENSE MIT
 * @link     https://github.com/GetOlympus/Olympus
 * @since    0.0.2
 */

/**
 * Site environment configuration.
 * ~
 * Simple example to use in production environment if you want:
 *  + WP cron       -> disabled
 *  + file edit     -> disabled
 *  + debug         -> disabled
 *  + cache system  -> enabled
 * ~
 */
return [
    // Database
    'database' => [
        'host' => '127.0.0.1',
        'name' => 'wordpress',
        'user' => 'root',
        'pass' => 'password',
        'charset' => 'utf8',
        'collate' => '',
        'prefix'  => 'wdps_',
    ],

    // WordPress configurations
    'wordpress' => [
        'home'      => 'https://www.domain.tld',
        'revisions' => 3,
        'posts_in_trash'  => 7,
        'disable_updater' => true,
    ],

    // Multisite?
    'multisite' => false,

    // Default WordPress cron?
    // ~
    // Disable internal CRON tasks and redirection to the alternative one
    // to let admin network uses real Cron tasks, for example:
    // */2 * * * * cd /path/to/your/wordpress/docroot && php wp-cron.php >> /path/to/cron/logfile.log 2>&1
    // ~
    'cron'      => false,

    // Security
    'file_edit' => false,

    // Cache
    'cache'     => true,

    // Debug
    'debug'     => false,
    // OR
    // if you DO want debug, uncomment these lines and remove the line above.
    // 'debug'   => [
    //     'savequeries'      => true,
    //     'script_debug'     => true,
    //     'wp_debug_display' => true,
    //     'wp_debug_log'     => true,
    //     'wp_debug'         => true,
    // ],
];
